@import './_variables.scss';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
    .cardDetail {
    padding: 20px;
  }

    
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}