$primary-color: #FFFFFF;
$secondary-color: #1F2937;
$tertiary-color: #4B5563;
$quaternary-color: #FF6B6B;
$fifth-color: #374151;
$yellow-color: #FFD700;
$btn-color1: #764BA2; 
$btn-color2: #667EEA;
$a_color: #D1D5DB;
$i_color:#4ECDC4;

$font-main: "Inter", sans-serif;
$font-logo: "Pacifico", sans-serif;

$breakpoint: 767px;
$breakpointTablette: 1024px;