@import './_variables.scss';
@import './_mixins.scss';
@import './global.scss';

// styles pour les 2 menus propos et contact
.divP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 500px; 


    .pagePC {
        font-size: 40px;
        font-weight: bold;
    }
    .btn{
         background: linear-gradient(180deg, $btn-color1 0%, $btn-color2 100%);
        color: $primary-color;
        font-size: 12px;
        padding: 4px 12px;
        border-radius: 16px;
    }
}
