@import './_variables.scss';
@import './_mixins.scss';


// styles qui peuvent etre utilisé dans tout le projet
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
    list-style: none;
   
}

h1,a, h3, li,p,.content{
    font-family: $font-main;
}

h1{
    font-size: 48px;
}
a{
    font-size: 16px;
    color: $fifth-color;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
     text-decoration: none;

}

p{
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    color: $tertiary-color;
    vertical-align: middle;

}


h3{
font-weight: 600;
line-height: 28px;
vertical-align: middle;
color:$secondary-color ;
}

.logo{
    color: $quaternary-color;
    font-family: $font-logo;
    font-size: 24px;
}